Django==1.5.3
dj-database-url==0.2.2
dj-redis-url==0.1.4
dj-static==0.0.5
django-apptemplates==0.0.1
git+git://github.com/lynnUg/django-registration-10.git@master
django-secretballot==0.2.3
docutils==0.11
gunicorn==17.5
lockfile==0.9.1
psycopg2==2.5.1
pydns==2.3.6
redis==2.8.0
spambayes==1.1b1
static==0.4
wsgiref==0.1.2
django-social-auth==0.7.7
git+git://github.com/tomchristie/django-rest-framework.git@2.4.0
git+git://github.com/alex/django-filter.git

pygments

