{% extends "base.html" %}
{% block content %}
 <div id="header">
    
    <div class="deets">
    <p><button> <a href="{% url 'socialauth_begin' 'facebook' %}">Login with Facebook</a></button></p>
    <p> <button> <a href="{% url 'socialauth_begin' 'twitter' %}">Login with Twitter</a></button></p>

</div>
</div>
<div id="content">

      <div class="purple">
<div class="h1">Login with Roadconexion account</div>

    
<form method="post" id="frmLogin" action="{{ app_path }}">
{% csrf_token %}
{{ form.non_field_errors}}
    <div class="row">
       {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
    <label for="id_username" class="required">Username</label> {{ form.username }}
    </div>
    <div class="row">
        {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
    <label for="id_password" class="required">Password</label> {{ form.password }}
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="next" value="{{ next }}" />
    </div>
    
        <div class="row">
             <font face="verdana" color="red">{{ current|safe}}</font>
             
        </div>
    
    <div class="control-group">
  <label class="control-label" for="submit"></label>
  <div class="controls">
    <button id="submit" name="submit" class="btn btn-primary">Log in</button>
  </div>
</div>
     
    <div class="clear"></div>
</form>
<p class="notice">Not registered? <a href="/register">Sign up here.</a></p>

    </div>
</div>
      
{% endblock %}
