html, body { margin: 0; padding: 0; color: #666; background: #DADFEB; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 1.3em; -webkit-text-size-adjust: none; }
input, select, textarea { font-size: 95%; font-family: Arial, Helvetica, sans-serif; }
a { color:#1B0862; text-decoration: none; }
br { color:#780000 ;  }
pre {line-height: 80%;padding: 5px;overflow: auto;color:#1B0862 ;font-family: Arial }
.clear { clear: both; height: 1px; width: 96%; display: block; }

/* SITE */
#site { background: #1B0862; padding: 2px 0; text-align: center; font-size: 11px; color: #896d55; }

/* HEADER */
#header {
	margin: 0;
	height: 50px;
	background: rgb(114,114,114); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(114,114,114,1) 0%, rgba(12,12,12,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(114,114,114,1)), color-stop(100%,rgba(12,12,12,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(114,114,114,1) 0%,rgba(12,12,12,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(114,114,114,1) 0%,rgba(12,12,12,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(114,114,114,1) 0%,rgba(12,12,12,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(114,114,114,1) 0%,rgba(12,12,12,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#727272', endColorstr='#0c0c0c',GradientType=0 ); /* IE6-9 */;
}

#header a {
    float: left;
    width: 48%;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    display: block;
    margin-top: 15px;
}

#header a:first-child{
	text-align: left;
	margin: 0 0 0 2%;
}

#header a:last-child{
	text-align: right;
	margin: 15px 2% 0 0;
	color: rgb(74, 221, 74);
	font-weight: bold;
}

#header a img{
	height: 45px;
}

#menu {
	clear: both;
	position: relative;
	height: 35px;
	margin: 0 10px;
}

	#menu a {
	    width: 32%;
	    float: left;
	    display: block;
	    font-size: 1.2em;
	    padding: 10px 0;
	    text-align: center;
	    color: #D8D8D8;
	    margin: 0 1% 0;
	    background: #202325;
	}
	#menu a:first-child {
	    margin-left: 0;
	}
	#menu a:last-child {
	    margin-right: 0px;
	}
#sort{

}
#sort a{

}

#social {
    width: 100%;
}
	#social .facebook {
	    margin: 10px 0;
	}
	#social .twitter {
	    margin: 10px 0;
	}
	.facebook button {
	    width: 80%;
	    height: 40px;
	    margin: 10px 10%;
	    background: rgb(23, 23, 109);
	    color: #FFF;
	}
	.twitter button {
	    width: 80%;
	    height: 40px;
	    margin: 5px 10%;
	    background: rgb(90, 186, 240);
	    color: #FFF;
	}

.search {
    clear: both;
    margin: 10px;
    height: 60px;
}
	.search label {
	    display: block;
	    padding: 5px;
	    background: #EDF2F5;
	    margin: 0 0 -2px;
	}
	.search input {
		width: 73%;
		padding: 10px 1%;
		float: left;
		border: solid 0px;
	
}
	.search input:focus {
	    border: none;
	    outline: none;
	    background: #FFFFFF;
	}
	.search button {
	    padding: 9px 0;
	    width: 25%;
	    float: right;
	    border: none;
	    background: #05273D;
	    color: #FFF;
	}

.container {
	    width: 100%;
	
	    clear: both;
}
	.title {
	    padding: 10px;
	    margin: 10px 10px -5px;
	    background: #0C2641;
	    color: #FFF;
	    font-size: 1.2em;
	}
	.items{
		width: 100%;
	}
	.item {
	    padding: 10px 10px 0;
	    margin: 10px 10px 0;
	    background: #FFF;
	    border-radius: 2px;
	    border: solid 1px #9E9E9E;
	}
	.item .details {
	    background: #f3f3f3;
	    border-top: 1px solid #dadde1;
	    display: block;
	    padding: 10px;
	    margin: 0px -10px;
	}
	.item a {
	    color: #151A52;
	    font-weight: bold;
	}

.pagination{
	margin: 0 10px;
}

/* BANNER & DIVIDER*/
#divider, #banner { padding: 0; margin: 0 0 0 -15px; }
#divider img { display: block; padding: 0; margin: 0 auto; }
#banner img {display: block; padding: ; margin: 0 auto }

/* CONTENT */
#content { color: #666; background: #fff; margin: 0 10px;}
    #content .title .stamp { font-size:12px; font-weight: normal;}
	#content .errors { padding: 10px; background: #ececec; font-weight: bold; color: #da2127; }
	#content .errors ul { margin: 15px 15px 10px 15px; padding: 0; }
	#content .notice { padding: 0 10px; margin: 0 0 15px 0; }
	#content form { padding: 10px; }
	#content form .row { padding: 6px 0 0 0; }
	#content form .row:first-child { padding: 0; }
	#content form .row img { width: 30px; }
	#content form .info { padding: 6px 0 0 0; }
	#content form .info p { padding: 0; margin: 0; }
	#content form .info span { color: #be903b; }
	#content form .btns { padding: 6px 0 0 0; }
	#content form .row-inline input.short { width: 50%; float: left; padding: 4px; border: 1px solid #ccc; }
	#content form .row-inline input.btn { margin: 4px; }
	#content form .title { font-weight: bold; }
	#content form label { display: block; padding: 0 0 5px 0; font-weight: bold; }
	#content form input[type="text"],
	#content form input[type="password"],
	#content form input[type="email"],
	#content form select,
	#content form textarea { width: 97%; padding: 6px 5px; border: 1px solid #ccc; background: #fff; color: #000; }
	#content form textarea { height: 70px; }
    #content form select.shorter { width: 30%; }
	#content form div.shorter select { width: 30%; }
	#content form .btns input,
	#content .btn { padding: 3px 8px 4px 8px; border: 0; background: #1B0862; color: #fff; font-weight: bold; }
	#content .h1 { padding: 6px 10px 5px 10px; background: #1B0862; clear: both; font-size: 1em; font-weight: bold; color: #fff; text-transform: uppercase; text-align: center; }

/* CONTENT INNER */
.content-inner {}
	.content-inner p { padding: 0 0 10px 0; margin: 0; }
	.content-inner p strong { font-weight: bold; }
	.content-inner p a { color: #1B0862; }
	.content-inner ul,
	.content-inner ol { padding: 0 0 10px 0; margin: 0 0 0 18px; }
	.content-inner ul.arrow { list-style-type: none; padding: 0 0 10px 0; margin: 0; }
	.content-inner ul.arrow li { padding: 0 0 0 15px; background: url('../img/arrow.png') left center no-repeat; }
	.content-inner .item { clear: both; display: block; padding: 0; border-top: 1px solid #e1e1e1; }
	.content-inner .item a.intro-pic { float: left; display: inline-block; padding: 0; }
	.content-inner .item a.intro-pic img { width: auto; display: block; }
	.content-inner .item img { width: 48px; display: block; margin: 5px 0 008px; }
	.content-inner .item:first-of-type { border: 0; padding-top: 0; }
	.content-inner .item .meta { padding: 6px 0 5px 0; margin: 0 0 0 0px; color: #666666; }
	.content-inner .no-pic .meta { margin: 0 0 0 10px; }
	.content-inner .item .meta .title a {padding: 6px 10px 5px 10px; color: #1B0862; font-weight: bold;text-align: center;vertical-align: middle;}
	.content-inner .item .meta .stamp { padding: 5px 0 0 0; font-size: 11px; }
	.content-inner .item .meta .description { padding: 0 0 5px 0; font-size: 11px; }
	.content-inner .item-nav { display: block; clear: both; padding: 5px; background: #eadbe0; color: #e1e1e1; font-size: 11px; }
	.content-inner .item-nav a { color: #1B0862;  }
	.content-inner .h2 { color: #fff; font-weight: bold; }
	.content-inner .h2 a { color: #fff; }
	.content-inner .social { padding: 5px; font-weight: bold; line-height: 17px; font-size: 11px; }
	.content-inner .social p { float: left; padding: 3px 8px 0 0; }
	.content-inner .social img { padding: 3px 3px 0 0; }

/* COMMENTS */
.comment {}
	.comment img { width: 58px; float: left; padding: 0 10px 0 0; margin: 0; display: inline-block; }
	.comment .meta { margin: 0 0 0 68px; }
	.comment .title { margin: 0 0 0 ; font-weight: bold; }
	.comment .stamp { margin: 0 0 5px ; padding: 0 5px 0 0!important; }
	
/* FOOTER */
#footer {
	color: #fff;
	padding: 5px;
	background: #0C2641;
	line-height: 17px;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
	#footer span {
		clear: both;
		padding: 2px 0;
	}
	#footer a {
		clear: both;
		padding: 2px 0;
		color: #fff;
	}

/* COLOURS */
#content .purple .h1 {
	background: #872e4d;
}
	#content .purple .content-inner .item .meta .title a { color: #872e4d; }
	#content .purple .content-inner .item-nav { background: #eadbe0; color: #bfbfbf; }
	#content .purple .content-inner .item-nav a { color: #872e4d; }
	#content .purple #menu .item a { color: #872e4d; }
	#content .purple #menu .item-nav { background: #eadbe0; color: #bfbfbf; }
	#content .purple #menu .item-nav a { color: #872e4d; }
#content .maroon .h1 { background: #b22a2d; }
	#content .maroon .content-inner .item .meta .title a { color: #b22a2d; }
	#content .maroon .content-inner .item-nav { background: #eadbe0; color: #bfbfbf; }
	#content .maroon .content-inner .item-nav a { color: #b22a2d; }
	#content .maroon #menu .item a { color: #b22a2d; }
	#content .maroon #menu .item-nav { background: #eadbe0; color: #bfbfbf; }
	#content .maroon #menu .item-nav a { color: #b22a2d; }
#content .yellow .h1 { background: #b22a2d; }
	#content .yellow .content-inner .item .meta .title a { color: #FF9900; }
	#content .yellow .content-inner .item-nav { background: #eadbe0; color: #bfbfbf; }
	#content .yellow .content-inner .item-nav a { color: #FF9900; }
	#content .yellow #menu .item a { color: #FF9900; }
	#content .yellow #menu .item-nav { background: #eadbe0; color: #bfbfbf; }
	#content .yellow #menu .item-nav a { color: #FF9900; }

ul#navigation {list-style:none;position:relative; z-index:2;top:1px;display:table;border-left:1px solid #f5ab36;}
ul#navigation li {float:left;}
ul#navigation li a {background:#ffd89b;color:#222;display:block;padding:6px 15px;text-decoration:none;border-right:1px solid #f5ab36;border-top:1px solid #f5ab36;border-right:1px solid #f5ab36;margin:0;}
ul#navigation li a.selected {border-bottom:1px solid #fff;color:#344385;background:#fff;}
#mybutton .btn { padding: 3px 8px 4px 8px; border: 0; background: #1B0862; color: #fff; font-weight: bold; }