<!DOCTYPE HTML>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
  <title>RoadConexion</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/font-awesome.css" media="screen">
  <link rel="stylesheet" href="/static/css/normalize.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/static/css/grid.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen">
  <!-- <link rel="stylesheet" href="css/style.min.css" type="text/css" media="screen"> -->
  <!--[if IE]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
  <div class="menu">
    <div class="container clearfix">
      <div id="logo" class="grid_3">
        <img src="/static/images/logo.png">
      </div>
      <div id="nav" class="grid_9 omega">
        <ul class="navigation">
          <li data-slide="1">Home</li>
          <li data-slide="2">Why</li>
          <li data-slide="3">How</li>
          <li data-slide="4">Contact</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
      <div id="content">
        <div class="grid_3"></div>
        <div class="grid_6 jumbotron">
          <h2>Get to your destination faster, safer with a sound mind</h2>
          <p>Go to <span>www.roadconexon.com</span> on your mobile browser</a></p>
        </div>
        <div class="grid_3"></div>
      </div>
    </div>
  </div>
  <!--
  <div class="separator" id="separator1" data-stellar-background-ratio="0.5">
    <div class="container clearfix"></div>
  </div>
  -->
  <div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
      <div id="content" class="grid_12">
        <h1 class="header">Why</h1>
      </div>
      <div class="content">
        <div  class="grid_4 alpha">
          <i class="fa fa-clock-o icon-a"></i>
          <p class="text-a">
            <b>Save Time</b>
            <br>Beat the jam and get home or to work faster
          </p>
        </div>
        <div  class="grid_4">
          <i class="fa fa-shield icon-a"></i>
          <p class="text-a">
            <b>Stay Safe</b>
            <br>Get real time information on road accidents, repairs, blockages
          </p>
        </div>
        <div  class="grid_4 omega">
          <i class="fa fa-usd icon-a"></i>
          <p class="text-a">
            <b>Save Fuel</b>
            <br>Don't get caught up in U-turns and unplanned diversions. Plan your journey.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator" id="separator2" data-stellar-background-ratio="0.5">
    <div class="container clearfix"></div>
  </div>
  <div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
      <div id="content" class="grid_12">
        <h1 class="header">How</h1>
      </div>
      <div class="content">
        <div class="grid_6 alpha">
          <div  class="grid_12">
            <i class="fa fa-users icon-b"></i>
            <p class="text-b">
              <b>Share traffic updates</b>
              <br>Let other road users know about traffic jams, road repairs, diversions, potholes, flooded roads and accidents
            </p>
          </div>
          <div  class="grid_12">
            <i class="fa fa-truck icon-b"></i>
            <p class="text-b">
              <b>View traffic updates</b>
              <br>Get to know real-time traffic conditions from other road users
            </p>
          </div>
          <div  class="grid_12">
            <i class="fa fa-search icon-b"></i>
            <p class="text-b">
              <b>Search roads</b>
              <br>Get traffic updates on specific roads that you use the most
            </p>
          </div>
        </div>
        <div class="grid_6 omega image-holder">
          <img src="/static/images/screenshot.png" class="image">
        </div>
      </div>
    </div>
  </div>
  <div class="separator" id="separator3" data-stellar-background-ratio="0.5">
    <div class="container clearfix"></div>
  </div>
  <div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
    <div class="container clearfix">
      <div id="content" class="grid_12">
        <h1 class="header">CONTACT US</h1>
      </div>
      <div class="content">
        <div class="grid_12 contacts">
          <a href="mailto:theteam@roadconexion.com" class="grid_4 aplha">
            <i class="fa fa-envelope email"></i>
            <p>theteam@roadconexion.com</p>
          </a>
          <a href="http://twitter.com/roadconexion" target="_blank" class="grid_4">
            <i class="fa fa-twitter-square twitter"></i>
            <p>@roadconexion</p>
          </a>
          <a href="http://facebook.com/roadconexion" target="_blank" class="grid_4 omega">
            <i class="fa fa-facebook-square facebook"></i>
            <p>roadconexion</p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.stellar.min.js"></script>
  <script type="text/javascript" src="/static/js/waypoints.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="/static/js/scripts.js"></script>
  <!-- <script type="text/javascript" src="/static/js/scripts.min.js"></script> -->
</body>
</html>