<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html> <head>
<title>RoadTracker</title>
<link rel="stylesheet" href="/static/css/style3.css">
<script src="https://maps.googleapis.com/maps/api/js?key=036UztUNAgaDCrS7U_jlB20Sl7V6nNar2eu4dTA&sensor=true" type="text/javascript"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
</head>
<script type="text/javascript">
 function initialize() {
  
  
  var input = /** @type {HTMLInputElement} */(document.getElementById('road'));
  var autocomplete = new google.maps.places.Autocomplete(input);


}


google.maps.event.addDomListener(window, 'load', initialize);       
            
</script>
<body>
<h1></h1>
    <div id="site">RoadConexion</div>
    <div id="banner">
        <a href=""><img src="/static/img/logo2.png" border="0" /></a>
    </div>
   
   
</div>
    
   
       
   
    {% block content %}{% endblock %}
    
        
 <div id="footer">
    


    <br /><span>&copy; RoadConexion 2013</span></div>



</body> 
</html>

