{% extends "base.html" %}
 

{% block content %}

   <div id="header">
    
    <div class="deets">
       
        {% if user.is_authenticated %}
         <font face="verdana" color="red">Welcome {{user.username}} </font> | <a href="/logout" > logout</a>
        {% else %}
        
    
        {% endif %}
    </div>  
    </div>
<form method="post" id="Follow" action="/follow/">
{% csrf_token %}
        <strong><input type="submit" name="submit" value="Follow Road Updates" class="btn" /></strong>
</form>
<form method="post" id="Follow" action="/report/">
    {% csrf_token %}
        <strong><input type="submit" name="submit" value="Report Road" class="btn" /></strong>
</form>
     
    
{% endblock %}
