{% extends "base.html" %}
 

{% block content %}

   <div id="header">
    
   
    </div>
     <div class="content-inner">
        <div class="items">
            
            <div class="item">
   
    <div class="meta">
        
            <div class="post"><strong><p>RoadConexion bringing to you crowdsourced Traffic and road updates, Its free and you can sign up with your twitter and facebook accounts </p></strong>
                                
                                 
            
              
     
</div>
            
       
    </div>
</div>

            
        </div>  
    </div>

<form method="post" id="Follow" action="/view_reports">
{% csrf_token %}
        <strong><input type="submit" name="submit" value="Follow Traffic Updates" class="btn" /></strong>
</form>
<form method="post" id="Follow" action="/report/">
    {% csrf_token %}
        <strong><input type="submit" name="submit" value="Submit Traffic Update" class="btn" /></strong>
</form>
     
    
{% endblock %}
