{% extends "base.html" %}
{% block content %}
<div id="menu">
    <a href='/view_reports'>view updates</a>
    <a href='/report'>submit update</a>
    <a href='/getuser'>my updates</a>
  </div>
{%if object_list %}
<div class="search">
  <form  class="form-horizontal" action="{% url 'search' %}" method="POST">
    {% csrf_token %}
    <label for="road">Search Updates by Road</label>
    <input id="road" type="text" class="required" name="road_name" maxlength="200" value="" />
    <button  id="submit" name="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div class="container">
  <div class="title">Roadtrack</div>
  <div class="items">
  {% for link in object_list %}
    <div class="item">
      <a >{{ link.road_name|escape }}</a>
      <p>{{link.report}}</p>
      <p class="details">
        <span class="score" id="linkscore{{ link.id }}"
              title="after {{ score.num_votes|default:0 }} vote{{ score.num_votes|default:0|pluralize }}">
        </span>
        posted {{ link.created_on|timesince }} ago by {{link.user.username}}
        <a  class="btn btn-primary" href="/view_reports/{{link.type_report}}">{{link.type_report}} <span class="glyphicon glyphicon-chevron-right"></span></a>
      </p>
    </div>
  {% endfor %}
  </div>
</div>
  <!-- Next/Prev page links  -->
{% if is_paginated %}
<div class="pagination" style="margin-top: 20px; margin-left: -20px; ">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href= "?page={{ page_obj.previous_page_number }}">newer entries &lt;&lt; </a>
    {% endif %}
    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>  
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}"> &gt;&gt; older entries</a>
    {% endif %}
  </span>
</div>   
{% endif %}
{% else %}
<h1>No recent posts</h1>
{% endif %}
{% endblock %}