{% extends "base.html" %}
{% block content %}


<div class="container">
  <div class="items">
    <div class="item">
  <h3>Closure </h3>
    <p>The roadconexion team is closing shop on roadconexion application.Its been a great 2 months and 3 weeks </p>
    
   <p>Our reason for closure is we didn't obtain the expect response from our customers.</p> 
   <p>We are availing all our code as open source on git (if you feel you can use it) , we had both a mobile site and android app that didnt make it to the app store </p>
    <p><a href='https://github.com/lynnUg/roadconexion_mobile_site.git'>Link to Mobile site</a></p>
    <p><a href='https://github.com/lynnUg/roadconexion.git'>Link to Andriod app</a></p>
    <p>Feel free to email us at theteam@roadconexion.com for any questions</p>
   </div>
 </div>
<!-- Start of test table-->

{% endblock %}